.row{
    margin:0px;
}



.imgbox{
    width:260px;
    height:260px;
    float:left;
    padding:6px;
    margin:30px 0 30px 40px;
    border-radius:10px;
    background-color:#056bce;
    transition:background-color 0.25s linear 0;
    -webkit-transition:background-color 0.25s linear 0;
    -o-transition:background-color 0.25s linear 0;
    -ms-transition:background-color 0.25s linear 0;
    -moz-transition:background-color 0.25s linear 0;
}
.imgbox a{
    text-decoration:none;
}
.imgbox:hover{
    background-color:#babbbb;
    transition:background-color 0.25s linear 0;
    -webkit-transition:background-color 0.25s linear 0;
    -o-transition:background-color 0.25s linear 0;
    -ms-transition:background-color 0.25s linear 0;
    -moz-transition:background-color 0.25s linear 0;
    box-shadow:0 0 20px #000;
    -webkit-box-shadow:0 0 20px #000;
    -moz-box-shadow:0 0 20px #000;
    -o-box-shadow:0 0 20px #000;
    -ms-box-shadow:0 0 20px #000;
}

.imgbox:hover .catimage{
    border-color:#056bce;
    transition:border-color 0.25s linear 0;
    -webkit-transition:border-color 0.25s linear 0;
    -moz-transition:border-color 0.25s linear 0;
    -o-transition:border-color 0.25s linear 0;
    -ms-transition:border-color 0.25s linear 0;

}
.imgbox .catimage{
    width:250px;
    height:250px;
    border:solid 5px #babbbb;
    border-radius:10px;
    overflow:hidden;
    transition:border-color 0.25s linear 0;
    -webkit-transition:border-color 0.25s linear 0;
    -moz-transition:border-color 0.25s linear 0;
    -o-transition:border-color 0.25s linear 0;
    -ms-transition:border-color 0.25s linear 0;
}

.catlablel{
    text-align:center;
    font-size:20px;
    color:green;
    margin-top:250px;
}

#cat{
    background-position:0 0;transition:all 0.5s ease-in 0;
}

#textbox{
    max-height:100px;
    overflow:hidden;
    margin-top:-20px;
}
#textbox:before{
    content:"";
    display:block;
    height:20px;
    position:relative;
    top:80px;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}

:focus, :active {
    outline: none !important; /* Это для того, чтобы убрать свечение при нажатии на кнопку в некоторых браузерах */
}

/* Стандартный стиль кнопки из Twitter Bootstrap */
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.btn:focus,.btn:active:focus,.btn.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:hover,.btn:focus{color:#333;text-decoration:none}.btn:active,.btn.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn.disabled,.btn[disabled],fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}

/* стиль кнопки на основе кнопок из Twitter Bootstrap */
.btn-category {
    display: block;
    color: #fff;
    border-radius: 0em; /* Обнулить округлости */
    -moz-border-radius: 0em; /* Обнулить округлости */
    -webkit-border-radius: 0em; /* Обнулить округлости */
    background: #265d94;
    border: none;
    text-shadow: -1px -1px 0px rgba(0,0,0,.2);
    border-bottom: 2px solid #153a65;
    position: relative;

    margin: 0 auto; /* Это просто для выравнивания кнопки посередине */
}
.btn-category:after, .btn-category:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}
.btn-category:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #265d94;
    border-width: 16px;
    margin-top: -16px;
}
.btn-category:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #153a65;
    border-width: 16px;
    margin-top: -14px;
}
.btn-category:hover,
.btn-category:focus,
.btn-category:active,
.btn-category.active,
.open .dropdown-toggle.btn-category {
    color: #fff;
    outline: none;
    background: #2e6eae;
    border-bottom: 2px solid #1b4a80;
}
.btn-category:hover:after,
.btn-category:focus:after,
.btn-category:active:after,
.btn-category.active:after {
    border-left-color: #2e6eae;
}
.btn-category:active,
.btn-category.active,
.open .dropdown-toggle.btn-buy {
    background: #265d94;
    color: #fff;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-category:active:after,
.btn-category.active:after,
.open .dropdown-toggle.btn-category:after {
    border-left-color: #265d94;
}


#zoom_03 {
    padding: 10px;
    width: 90%;
}

.control-label{
    text-align: left;
}

#gallery_01{
    padding: 7px;
}


@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}